<div class="container">

  <div class="row">
    <h1>🎵 TP1</h1>
  </div>

  <div class="row">
    <div>
      Artiste : 
      <input type="text" name="serchName" [(ngModel)]="serchName" placeholder="Nana Mouskouri"> 
      &nbsp;
      <button (click)="getArtistAlbum()">Chercher un artiste</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <h2>Albums de l'artiste {{artistName}}</h2>
      </div>
      <hr>
      <div *ngIf="messageAlb" class="alert">
        {{ messageAlb }}
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let a of albumList" >
          <h5>{{ a.name }}</h5>
          <img [src]="a.imageUrl" [alt]="'Album ' + a.name" class="img-fluid" (click)="getAlbumSongs(a.name)">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <h2>Chansons de l'album {{nameAlbum}}</h2>
      </div>
      <hr>
      <div *ngIf="messageSon" class="alert">
        {{ messageSon }}
      </div>
      <ul>
        <li *ngFor="let s of songList">{{s.name}}</li>
      </ul>
    </div>
  </div>
</div>

<router-outlet />