<div class="container">

  <div class="row">
    <h1>🎵 TP1</h1>
  </div>

  <div class="row">
    <div class="col">
      Artiste : 
      <input type="text" name="artistName" [(ngModel)]="serchName" placeholder="Nana Mouskouri"> 
      &nbsp;
      <button (click)="getArtistAlbum()">Chercher un artiste</button>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col-6">
      <h2>Albums de l'artiste {{artistName}}</h2>
      <hr>
      <div *ngFor="let a of albumList" class="row">
        <div class="col-6">
          <h4>{{a.name}}</h4>
          <img src="{{a.imageUrl}}" alt="Photo de l\'album {{a.name}}" class="img-fluid" (click)="getAlbumSongs(a.name)">
        </div>
      </div>
    </div>

    <div class="col-6">
      <h2>Chansons de l'album</h2>
      <hr>
      <ul>
        <li *ngFor="let s of songList">{{s.name}}</li>
      </ul>
    </div>
  </div>
</div>

<router-outlet />